{% extends 'useraccount/base.html' %}

{% block body %}

<div class="container">
  <br>
  <h4>Resident list</h4>
  <br>
<!-- Basic info ( name  , email , phone) -->
  {% if status == "NO_ERROR" and payload.user_record and payload.user_record.userInfo %}
    <div class="row">
      <h4>Basic information</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
           <table class="alignleft"  >
             {% with userinfo=payload.user_record.userInfo %}
             <tr>
               <td >Name : </td>
               <td>
                 {{userinfo.first_name}} {{userinfo.middle_name}} {{userinfo.last_name}}</td>
             </tr>
             <tr>
               <td >Email : </td>
               <td>{{userinfo.email}} </td>
             </tr>
             <tr>
               <td >Phone : </td>
               <td>{{userinfo.phone}} </td>
             </tr>
             <tr >
               <td>Gender    : </td>
               <td>{{userinfo.gender}} </td>
             </tr>
             <tr>
               <td >Occupation : </td>
               <td>{{payload.user_record.occupation}} </td>
             </tr>

             {%endwith%}
           </table>
        </div>

        <div class="col-md-3">
          {{payload.user_record.profilePhotolist}}
        </div>
    </div>
  {%endif%}
<hr>
<!-- Permanent Address -->
  {% if status == "NO_ERROR" and payload.user_record and payload.user_record.permanentAddress %}
    <div class="row">
      <h4>Permanent Address</h4>
      <br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
           <table class="alignleft" >
             {% with pAddr=payload.user_record.permanentAddress %}
             <tr >
               <td> Line 1 : </td>
                <td> {{pAddr.addrLine1}} </td>
             </tr>
             <tr  >
               <td > Line 2 : </td>
               <td>{{pAddr.addrLine2}} </td>
             </tr>
             <tr >
               <td > Pincode : </td>
               <td>{{pAddr.pincode}} </td>
             </tr>
             <tr >
               <td >City : </td>
               <td>{{pAddr.city}} </td>
             </tr>
             <tr >
               <td >State : </td>
               <td>{{pAddr.state}} </td>
             </tr>
             <tr >
               <td >Country : </td>
               <td>{{pAddr.country}} </td>
             </tr>
             {%endwith%}
           </table>
        </div>

    </div>
  {%endif%}

  <hr>
  <!-- Mailing Address -->
    {% if status == "NO_ERROR" and payload.user_record and payload.user_record.mailingAddress %}
      <div class="row">
        <h4>Mailing Address</h4>
        <br>
      </div>
      <br>
      <div class="row">
          <div class="col-md-6">
             <table class="alignleft" >
               {% with mAddr=payload.user_record.mailingAddress %}
               <tr >
                 <td> Line 1 : </td>
                  <td> {{mAddr.addrLine1}} </td>
               </tr>
               <tr  >
                 <td > Line 2 : </td>
                 <td>{{mAddr.addrLine2}} </td>
               </tr>
               <tr >
                 <td > Pincode : </td>
                 <td>{{mAddr.pincode}} </td>
               </tr>
               <tr >
                 <td >City : </td>
                 <td>{{mAddr.city}} </td>
               </tr>
               <tr >
                 <td >State : </td>
                 <td>{{mAddr.state}} </td>
               </tr>
               <tr >
                 <td >Country : </td>
                 <td>{{mAddr.country}} </td>
               </tr>
               {%endwith%}
             </table>
          </div>

      </div>
    {%endif%}

<hr>
<!-- Company Information -->
  {% if status == "NO_ERROR" and payload.user_record and payload.user_record.companyInfo %}
    <div class="row">
      <h4>Company Information </h4>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
           <table class="alignleft" >
             {% with cInfo=payload.user_record.companyInfo %}
             <tr >
               <td> Company Name : </td>
                <td> {{cInfo.companyName}} </td>
             </tr>
             <tr>
               <td><h4>Address</h4></td>
               <td></td>
             </tr>

             <tr >
               <td> Line 1 : </td>
                <td> {{cInfo.companyAddress.addrLine1}} </td>
             </tr>
             <tr  >
               <td > Line 2 : </td>
               <td>{{cInfo.companyAddress.addrLine2}} </td>
             </tr>
             <tr >
               <td > Pincode : </td>
               <td>{{cInfo.companyAddress.pincode}} </td>
             </tr>
             <tr >
               <td >City : </td>
               <td>{{cInfo.companyAddress.city}} </td>
             </tr>
             <tr >
               <td >State : </td>
               <td>{{cInfo.companyAddress.state}} </td>
             </tr>
             <tr >
               <td >Country : </td>
               <td>{{cInfo.companyAddress.country}} </td>
             </tr>
             {%endwith%}
           </table>
        </div>

    </div>
  {%endif%}

  <hr>
  <!-- Emergency Contact Information -->
    {% if status == "NO_ERROR" and payload.user_record and payload.user_record.emergencyContactInfo %}
      <div class="row">
        <h4>Emergency Contact Information </h4>
      </div>
      <br>
      <div class="row">
          <div class="col-md-10">
             <table class="alignleft" >
               {% with ecInfo=payload.user_record.emergencyContactInfo %}
               <tr >
                 <td> Name : </td>
                  <td> {{ecInfo.contactInfo1.first_name}} {{ecInfo.contactInfo1.middle_name}} {{ecInfo.contactInfo1.last_name}} </td>
               </tr>
               <tr >
                 <td> Email : </td>
                 <td> {{ecInfo.contactInfo1.email}} </td>
               </tr>
               <tr >
                 <td> Gender : </td>
                 <td> {{ecInfo.contactInfo1.gender}} </td>
               </tr>

               <tr >
                 <td> Phone : </td>
                 <td> {{ecInfo.contactInfo1.phone}} </td>
               </tr>
               <tr >
                 <td> Relationship : </td>
                 <td> {{ecInfo.relationship1}} </td>
               </tr>

               <tr>
                 <td><h4>Address</h4></td>
                 <td></td>
               </tr>

               <tr >
                 <td> Line 1 : </td>
                  <td> {{ecInfo.contactAddress1.addrLine1}} </td>
               </tr>
               <tr  >
                 <td > Line 2 : </td>
                 <td>{{ecInfo.contactAddress1.addrLine2}} </td>
               </tr>
               <tr >
                 <td > Pincode : </td>
                 <td>{{ecInfo.contactAddress1.pincode}} </td>
               </tr>
               <tr >
                 <td >City : </td>
                 <td>{{ecInfo.contactAddress1.city}} </td>
               </tr>
               <tr >
                 <td >State : </td>
                 <td>{{ecInfo.contactAddress1.state}} </td>
               </tr>
               <tr >
                 <td >Country : </td>
                 <td>{{ecInfo.contactAddress1.country}} </td>
               </tr>
               {%endwith%}
             </table>
          </div>

      </div>
    {%endif%}


</div>




{% endblock %}
