<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PGMS </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1> Paying Guest Management Software </h1>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <a href="/useraccount" class="btn btn-warning">Register User</a>
          <br>
          <br> <br>
          <a href="/pgaccount" class="btn btn-warning">PG account</a>
        </div>

      </div>
    </div>

  </body>
</html>
